# --- Python ---
__pycache__/
*.py[cod]
*.so

# --- Virtual Environments ---
venv/
env/
.venv/

# --- Environment Variables & Secrets ---
.env
.env.*
!.env.example

# --- Operating System Files ---
.DS_Store
Thumbs.db
Desktop.ini

# --- VS Code Settings ---
.vscode/

# --- Cybersecurity & Networking ---
*.pcap
*.pcapng
*.cap

# Scan Outputs & Reports
*.log
*.csv
*.json
*.xml
*.txt

# Visualisation & Graphs
*.png
*.svg
*.dot
